@import "_mixins.less";
@import "_grid.less";
@import "_normalize.less";

//Variables
@unit-height		:1rem;		// Unit Height

//Palette
@green				:#396;
@blue 				:#369;
@black				:#000;
@gray				:#333;
@white 				:#fff;

//Overall
body{
	.clearfix;
	font-family: alegreya;
}

nav{
	display: none;
}

section#title {
	background-image: url("../resources/images/bg/blackPattern.png");
	background-repeat: repeat;
	padding: 1rem;
}

section#content {
	//background-image: url("../resources/images/bg/beigePattern.png");
	background-repeat: repeat;
	padding-top: 1rem;
}

//Footer
section#footer {
	clear: both;
	.center;
}


//Navigation
#main-nav-trigger{
	position: fixed;
	right: 0.5rem;
	top: 0.5rem;
	text-align: center;
	text-decoration: none;
}

//Title
section#title {	
	color: @white;
	.center;
	text-align: center;

	h1 {
		font-family: 'alex-brush';
		font-size: 4rem;
		a {
			color: inherit;
			text-decoration: none;
		}
	}

	h3 {
		font-size: 1.5rem;
	}
}

//Logo
#main-logo{
	top: 0.1rem;
	left: 0.1rem;
	font-family: 'alex-brush';
	height: 3rem;
	width: 3rem;
	border-radius: 100%;
	background-color: @black;
	font-size: 1.5rem;
	color: @white;

	#T-container{
		padding: 0.6rem;
		padding-left: 0.1rem;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	a:hover{
		color: @green;
	}
}

//Post excerpts
.excerpt-container {
	margin: 2rem 2rem;
	padding: 1rem;
	font-size: 1.2rem;
	.clearfix;
	color: @black;

	a {
		color: inherit;
	}

	a:hover{
		.excerpt-content {
			color: @blue;
		}
	}

	.excerpt-title {
		.clearfix;
	}

	.post-date{
		color: @green;
	}

	img.homepage-post-thumbnail {
		border-radius: 100%;
		padding: 0.5rem;
		float: right;
		height: 8rem;
		width: 8rem;
		//margin-right: 2rem;
	}
}


// Single Posts

section#sidebar-single {
	padding: 1rem;
}

section#content-single {
	padding-top: 1rem;
}

.post-container {
	margin: 2rem 2rem;
	padding: 1rem;
	font-size: 1.2rem;
	.clearfix;
	color: @black;

	a {
		color: inherit;
	}

	a:hover{
		.post-content {
			color: @blue;
		}
	}

	.post-title {
		.clearfix;
	}

	.post-date{
		color: @green;
	}
}