
// Column title with picture

section#title {
	.column(4);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: @gray;
	color: @white;
}

#title-wrapper {
}

section#content {
	.column(8);
	position: absolute;
	//top:0;
	right: 0;
}

.excerpt-container {
	margin: 3rem 5rem;
}


// Single page

section#sidebar-single {
	.column(3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	color: @black;
}

section#content-single {
	.column(9);
	position: absolute;
	right: 0;
}