
// Column title with picture

section#title {
	.column(4);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #333;
	color: #fff;
}

#title-wrapper {
}

section#content {
	.column(8);
	position: absolute;
	//top:0;
	right: 0;
}

.excerpt-container {
	margin: 3rem 5rem;
}